
/******************** top-header ******************/

.center{
    align-items: center;
    justify-content: center;
}
.failReport{
    color:gray !important;
    text-decoration:line-through;
}
.flex-container {
    margin:0;
    display: flex;
}

.flex-container>div {
    color:black;
    font-size: 15px;
}

.leftMargin{
    margin-left: 5px;
}
.rightMargin{
    margin-right: 5px;
}
.main-logo {
    margin: 0;
    padding: 2% 7%;
}

.top-header {
    background-color: #000;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 4px solid #00b9ba;
    box-sizing: border-box;     /*안쪽 border line*/
}
.header-logo {
    height: 60px;
    position:absolute;
    top: 15px;
    left: calc(50% - 11em);
}

.header-title {
    color: white;
    font-size:x-large;
    position:absolute;
    top: calc(55px - 0.9em);
    left: calc(50% - 3.5em);
    
}

.site-detail {
    float: right;
    color: #f7f7f7;
    /*font-size: 1vw;
    margin: 30px;
    padding: 0;*/
    width: 60%;  
    height: 90%;
}
/******************** 학습레포트 *******************/
 .bar-active {
    width:100% !important;
    background-color: green !important;
}
.calendar-div{
    color:black;
    margin-top:30px;
    margin-bottom:5px;
    border: medium solid #00b9ba;
    border-radius: 10px;
    background-color: white;
    max-width: 600px;
     padding: 10px 0;

}
#reportTitle{
   margin-bottom: 5px;
    font-weight: bold;
    font-family: "맑은 고딕",sans-serif;

}
/********************core*******************/
body {
    background-color: #000000;
    font-family: source-sans-pro, sans-serif;
}


.box-title{
    margin: 10px 20px 0 20px;
    padding: 10px 0px;
    font-size: 30px;
    color: #000000;
}
.title{
    margin: 150px 20px 0 20px;
    padding: 10px 10px;
    font-size: 20px;
    color: #fff;
}

.title2{
    margin: 10px 20px 0 20px;
    padding: 10px 10px;
    font-size: 20px;
    color: #fff;
}

.bottom-box{
    background-color: #000000;
    padding: 20px 30px 20px 30px;
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: #f7f7f7; 
    border-bottom-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 15px;
    color: #f7f7f7;
    text-align: center;
    box-sizing: border-box;
}


/****************calendar******************/
.green{
    color:green !important;
}
.body{
    /* background-color: #000; */
    margin-top:70px;
    width:100%;
}
.border{
    box-sizing: content-box;
    border: #fff solid 10px;
}
.calendar-box{
    position: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: solid;
    border-color: #00b9ba;
    box-sizing: border-box;
    width: 100vw;
    max-width: 600px;
}

#calendar {
    margin: 10px auto;
}

.fc-event-title.fc-sticky{
    white-space: normal;
}

/****************bar-graph******************/
.bar-body{
    padding: 20px;
    margin: 0 10%;
}
.bar-graph {
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
}
.bar-graph span {
    display: block;
    padding:0 10px;
    width: 60%;       /*주차별 완성도 계산해서 넣기*/
    height: 40px;
    line-height: 40px;
    text-align: right;
    background-color: #00b9ba;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff; 
    animation: stack 2s 1;
}
@keyframes stack{
    0% { width: 0; color: rgba(255, 255, 255, 0);}
    40% { color: rgba(255, 255, 255, 1);}
    100% { width: 60%;}
}
/**************** line-graph ******************/
.header-margin{
    /* background-color: #f7f7f7; */
    margin: 150px 5vw 0vw;
    padding: 0vw 0vw;
    /* min-width: 1305px; */
}
.graph-box{
    /* background-color: #f7f7f7; */
    margin: 0px 20px 30px 20px;
    padding: 0vw 0vw;
    /* min-width: 1305px; */
}


#myChartOne{
    border-radius: 10px;
    border-bottom: 2px solid gray;
}

/**************** pie-graph ******************/

.pie-graph{
    display: inline-block;
    margin: 0;
    margin-right: 5%;
    padding: 2%;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: solid;
    border-color: #00b9ba;
    box-sizing: border-box;
    width: 23%;
    height: 30vw;
    /* max-width: 30%; */
    /*min-width: 40%; */
    float: right;
}

#myChartTwo{
    /* height: 23vw; */
    /* width: 20vw; */
    position: center;
}
/**************** list ******************/
.list-box{
    margin: 20px 50px 50px;
    padding: 30px 0px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: solid;
    border-color: #00b9ba;
    box-sizing: border-box;
    min-width: 1305px;
}

