body {
    background-image: url(../img/background_login.jpg);
  }
  
  h1 {
    margin-left: auto;
    margin-top: 18%;
    text-align: center;
    font-weight: 100;
    font-size: 4.8em;
    color: #f7f7f7;
  }
  
  #formStyle { 
    background-color: #000000;
    max-width: 300px;
    width: 50vw;
    height: 30px;
    padding-left:10px;
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1.2em;
    font-weight: 100;
    color: #f7f7f7;
  }
  
  .formButton {
    float: none;
    max-width: 100px;
    width:10vw;
    height: 35px;
    background-color:#f7f7f7;
    font-size:17px;
    font-weight: 400;
    text-decoration:none;
    border-bottom-color: none; 
    border-top-style:none; 
    border-right-style: none; 
    border-left-style: none; 
  }
  
  .formButton:hover {
      background-color: #00b9ba;
    color:#f7f7f7;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }
  
  /*To remove the outline that appears on clicking the input textbox*/
  input:focus {
    outline: none;
  }
  
  /* To format the placeholder text color */
  ::-webkit-input-placeholder {
     color: #f7f7f7;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #f7f7f7;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #f7f7f7;  
  }
  
  :-ms-input-placeholder {  
     color: #f7f7f7;  
  }
