<!DOCTYPE html>

<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>42 Report Calendar</title>
    <!--stylesheet-->
    <!-- 화면 뷰 -->
    <link href="42index.css" rel="stylesheet" />
    <link rel="stylesheet" href="42main_page.css" />
    <!-- 캘린터 CSS -->
    <link href='./fullcalendar/main.css' rel='stylesheet' />
    <link href='./fullcalendar/fullcalendar.css' rel='stylesheet' />
    <!-- 부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- 커스텀 CSS -->
    <link href="./css/tab.css" rel='stylesheet' />

    <!--javascript-->


    <script src="./js/bootstrap.min.js"></script>
    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
        integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
        crossorigin="anonymous"></script>
    <!-- 부트스트랩-->

    <!-- 캘린더 -->
    <script type="module" src='./js/calendar.js'></script>
    <script src='./fullcalendar/main.js'></script>
    <script src='./fullcalendar/fullcalendar.min.js'></script>
    <script src='./fullcalendar/calendar-setting.js'></script>
    <script src='./fullcalendar/core/4.2.0/locales-all.js'></script>
    <script type="module" src='./js/chart.min.js'></script>

    <!-- 커스텀 JS -->
    <script type="module" src='./js/submit.js'></script>
    <script type="module" src='./js/myChartOne.js'></script>
    <script type="module" src='./js/myChartTwo.js'></script>
    <script type="module" src='./js/myChartThree.js'></script>
    <script src='./js/date/dataFormat.js' rel='stylesheet'></script>
    <script src='./js/tab.js'></script>

</head>

<body>
    <!-- 헤더 -->
    <div class="top-header">
        <div class="header-logo">
            <img src="../img/main_logo.png" alt="main-logo" style="height: 100%;" align="left">
        </div>
        <div class="header-title">
            42 Report Calendar
        </div>
    </div>
    <!-- 헤더 제외한 바디 부분 -->
    <Center>
        <div class="body">
            <!-- 검색창부분 -->
            <Center>
                <form onsubmit="displayPlayer()">
                    <input type="text" name="id" id="formStyle" placeholder="Search Your IntraID" required />
                    <input type="submit" class="formButton" id='submitBtn' value="검색">
                </form>
            </Center>
            <!-- 캘린더 캡션-->
            <div class="calendar-div">
                <Center id="reportTitle">주차별 학습레포트 제출 현황</Center>
                <h6 class="flex-container center">
                    <div class="flex-container">
                        <div class="reportMonth"></div>/<div class="reportDate"></div>~
                        <div class="reportMonth"></div>/<div class="reportDate"></div>
                    </div>
                    <div class="progress" style="padding:0;margin:0 15px 0 5px; width: 50px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:0%;">

                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="reportMonth"></div>/<div class="reportDate"></div>~
                        <div class="reportMonth"></div>/<div class="reportDate"></div>

                    </div>
                    <div class="progress" style="padding:0;margin:0 15px 0 5px; width: 50px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:0%;">

                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="reportMonth"></div>/<div class="reportDate"></div>~
                        <div class="reportMonth"></div>/<div class="reportDate"></div>

                    </div>
                    <div class="progress" style="padding:0;margin:0 15px 0 5px; width: 50px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:0%;">

                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="reportMonth"></div>/<div class="reportDate"></div>~
                        <div class="reportMonth"></div>/<div class="reportDate"></div>

                    </div>
                    <div class="progress" style="padding:0;margin:0 15px 0 5px; width: 50px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:0%;">

                        </div>
                    </div>
                </h6>
            </div>
            <!-- 캘린더 -->
            <div class="calendar-box">
                <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-standard">
                </div>
            </div>
        </div>
    </Center>
    <!-- 주차별학습시간 & 동료그래프 -->
    <!-- 탭 -->
    <section id="wrapper">
        <div class="content">
            <div class="tabs">
                <button class="tablinks active" data-country="tab1">
                    <p data-title="tab1">주차별학습시간</p>
                </button>
                <button class="tablinks" data-country="tab2">
                    <p data-title="tab2">동료 학습 횟수</p>
                </button>
                <button class="tablinks" data-country="tab3">
                    <p data-title="tab3">연도별 학습 시간</p>
                </button>
            </div>

            <div class="wrapper_tabcontent">
                <div id="tab1" class="tabcontent active">
                    <h3>주차별학습시간</h3>
                    <canvas id="myChartOne"></canvas>
                </div>
                <div id="tab2" class="tabcontent">
                    <h3>동료 학습 횟수</h3>
                    <canvas id="myChartTwo"></canvas>
                </div>
                <div id="tab3" class="tabcontent">
                    <h3>연도별 학습 시간</h3>
                    <canvas id="myChartThree"></canvas>
                </div>
            </div>
        </div>
    </section>
    </div>



    <!--
        이번주 5레포트중 얼마나 썼는지
        <div class="title">이번주 Report 완성도</div>
        <div class="bar-body">
            ************** 주차별 완성도 계산해서 넣기 ******************
            <div class="bar-graph">
                <span>60%</span>
            </div>
        </div>
    -->




    <!-- <div class="title2">주차별 학습시간 & 동료학습 방법</div> -->


    <!-- 바로가기 -->
    <div class="about">
        <a class="bg_links social portfolio" href="https://intra.42.fr/" target="_blank">
            <span class="linkText icon">인</span>
        </a>
        <a class="bg_links social dribbble" href="https://cluster.42seoul.io/" target="_blank">
            <span class="linkText icon">체</span>
        </a>
        <a class="bg_links social linkedin" href="https://42seoul.kr/faq" target="_blank">
            <span class="linkText icon">FAQ</span>
        </a>
        <a class="bg_links logo">바</a>
    </div>
    <!-- Made by -->
    <div class="bottom-box">42report_Calendar by Minsekim / Jinykim / Najlee</div>
</body>

</html>