<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>42 Report Calendar</title>
        
        <!--stylesheet-->
        <link href="404error_page.css" rel="stylesheet" />


        <!--javascript-->

    </head>

    <body>
        <div class="top-header">
            <div class="top-header2">
                <img src="../img/main_logo.png" alt="main-logo" style="height: 100%;" align= "left">
            </div>
            <div class="top-header3">
                42 Calendar
            </div>
        </div>
				<!-- 빈 내용 -->
				<div class="header-margin"></div>
				
				<!-- 에러표시 -->
        <div class="title">404 Error: 서버와 통신하나 요청된 데이터가 없습니다. </div>
        <div class="title">사용자의 repository가 pubilc이 아닐 경우 해당 서비스를 이용할 수 없습니다. 꼭 확인해주세요.</div>

        <!--Made by -->
        <div class="bottom-box">42report_Calendar by Minsekim / Jinykim / Najlee</div>
    </body>

</html>